.nav {
    background-color: rgb(90, 98, 209) !important;
    padding: 5px 0;
    text-align: center
}

.nav-link {
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    font-family: sans-serif
}

.navbar-text {
    color: white;
    font-size: 2.2em;
}